@import "./variables.scss";

html {
  font-size: 0.6em;
}

// Tablets in portrait
@media only screen and (min-width: 720px) and (min-height: 416px) and (orientation: portrait) {
  html {
    font-size: 0.8em;
  }
}

// Phones and tablets in landscape
@media only screen and (max-width: 1199px) and (min-height: 319px) and (orientation: landscape) {
  html {
    font-size: 0.5em;
  }
}

// Desktop
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  html {
    font-size: 0.9em;
  }
}

.app__title {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.25em;
  margin: 0 auto 2em auto;
  text-align: left;
  width: 100%;

  &--highlight {
    color: $color-highlight;
  }

  &--primary {
    color: $color-primary;
  }
}

.container {
  color: #ffffff;
  position: relative;
  height: $screen-height;
  max-height: $screen-height;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: center bottom;
  text-align: center;
  width: 100vw;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__header {
    align-items: center;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    text-shadow: 0.1em 0.1em 0.5em #242424;
    transform-origin: center bottom;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

    &-title {
      font-family: "Kaushan Script", cursive;
      font-size: $hero-header-font-size;
      margin: 0;
    }
  }

  &.layer__3 {
    height: 100%;
    transform-origin: center bottom;
    transform: translateZ(-3px) scale(4);
    z-index: -2;
  }

  &.layer__2 {
    height: 100%;
    transform-origin: center bottom;
    transform: translateZ(-2px) scale(3);
    z-index: -2;
  }

  &.layer__1 {
    // The height of layer 1 depends on how many screens we have
    // height: calc(100% * #{$screens});
    overflow-y: scroll;
    position: relative;

    // the hero image on layer 1 is only 1 screen height
    & > .hero {
      height: 100vh;
    }
  }
}

.hero {
  height: 100%;
  width: 100%;

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
  }
}

.overlay {
  &__scroll {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: flex-end;
    left: 0;
    // margin-bottom: 0.5em;
    opacity: 1;
    position: absolute;
    top: 79vh;
    width: 100%;
    z-index: 1;

    &:hover > .button__scroll {
      opacity: 1;
    }

    & .button__scroll {
      background: transparent;
      border: none;
      color: $color-highlight;
      cursor: pointer;
      height: auto;
      opacity: 0;
      text-shadow: 1px 1px 0.1em $color-button-shadow;
      transition: opacity 0.5s ease-in-out;
      width: auto;

      &:hover {
        opacity: 1;
        color: $color-highlight-hover;
      }
    }
  }

  &__contact {
    align-items: center;
    background-color: $color-button-background;
    border: 1px solid $color-button-shadow;
    border-radius: 6em;
    bottom: 1em;
    box-shadow: 0.25em 0.25em 1em $color-button-shadow;
    color: $color-highlight;
    display: flex;
    flex-direction: row;
    height: 5em;
    justify-content: center;
    position: fixed;
    right: 1em;
    width: 5em;

    &:hover > .overlay__contact-button,
    &:hover .overlay__contact-close {
      color: $color-highlight-hover;
    }

    &-button {
      background: transparent;
      border: none;
      border-radius: 50%;
      // color: #80bfff;
      height: 2em;
      outline: none;
      width: 2em;
    }

    &-icon {
      transform: translateY(0.1em);
    }

    &-content {
      color: $color-light;
      display: none;
      flex-grow: 1;
      opacity: 0;

      & > a {
        color: $color-light;
      }
    }

    &-close {
      background: transparent;
      border: none;
      color: $color-highlight;
      display: none;
      margin: 0 1em 0 0;
      opacity: 0;
      outline: none;
    }
  }

  &--fade {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 94%,
      #ffffff 99%
    );
    height: 100vh;
    position: absolute;
    top: 0.1em;
    width: 100%;
  }

  &__divider--fade {
    background: linear-gradient(
      to bottom,
      #ffffff 1%,
      rgba(255, 255, 255, 0) 6%,
      rgba(255, 255, 255, 0) 94%,
      #ffffff 99%
    );
    height: 100%;
    width: 100%;
  }
}

.divider-1 {
  // border: 1px dashed red;
  height: 50vh;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: center top;
  position: relative;
  width: 100%;

  &__layer-1 {
    height: 100%;
    position: absolute;
    top: 200vh;
    transform-origin: center top;
    transform: translateZ(0.4px) scale(0.6);
    // transform: translateZ(-1px) scale(2);
    width: 100%;
    // z-index: 2;
  }

  &__image {
    height: 200%;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  &__layer-2 {
    background: linear-gradient(
      to bottom,
      #ffffff 10%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 59%,
      #ffffff 89%
    );
    // border: 5px dashed red;
    height: 150%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Desktop
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .app__title {
    max-width: 1200px;
  }

  .overlay {
    &__scroll:hover > .button__scroll {
      opacity: 1;
    }
  }
}
