@import "./variables.scss";

html {
  font-size: 0.8em;
}

// Desktop
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  html {
    font-size: 0.9em;
  }
}

.app__title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.25em;
  margin: 0 auto 1em auto;
  text-align: left;
  width: 100%;

  &--highlight {
    color: $color-highlight;
  }

  &--primary {
    color: $color-primary;
  }

  &-logo {
    height: 1.5em;
    margin: 0 0.5em;
    width: 1.5em;
  }
}

.container {
  color: #ffffff;
  position: relative;
  height: $screen-height;
  max-height: $screen-height;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: center bottom;
  text-align: center;
  transform-style: preserve-3d;
  width: 100vw;
  // -webkit-overflow-scrolling: touch;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    margin-top: -10em;
    overflow: hidden;
    transform-origin: center bottom;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

    &-title {
      color: $color-highlight;
      font-family: "Montserrat", sans-serif;
      font-size: $hero-header-font-size;
      font-weight: bold;
      font-style: italic;
      margin: 0;
      text-shadow: 3px 3px 2px $color-button-shadow;

      @media only screen and (min-width: 1200px) and (orientation: landscape) {
        font-size: 6em;
      }
    }
  }

  &.layer__3 {
    height: 100%;
    transform-origin: center bottom;
    transform: translateZ(-3px) scale(4);
    z-index: -2;
  }

  &.layer__2 {
    height: 100%;
    transform-origin: center bottom;
    transform: translateZ(-2px) scale(3);
    z-index: -2;
  }

  &.layer__1 {
    height: auto;
    position: relative;

    & > .hero {
      height: 100vh;
    }
  }
}

.hero {
  height: 100%;
  width: 100%;

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
  }

  &__logo {
    filter: drop-shadow(3px 3px 2px $color-button-shadow);
    height: 12em;
    width: 12em;
  }
}

.cloud {
  &-l {
    left: -100%;
    max-width: 960px;
    min-width: 500px;
    opacity: 0.9;
    position: absolute;
    top: 12%;
    width: 100%;
  }
}

.overlay {
  &__scroll {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: flex-end;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 79vh;
    width: 100%;
    z-index: 1;

    &:hover > .button__scroll {
      opacity: 1;
    }

    & .button__scroll {
      background: transparent;
      border: none;
      color: $color-highlight;
      cursor: pointer;
      font-size: 2.5em;
      height: auto;
      opacity: 0;
      // text-shadow: 3px 3px 2px $color-button-shadow;
      transition: opacity 0.5s ease-in-out;
      width: auto;

      &:hover {
        opacity: 1;
        color: $color-highlight-hover;
      }

      &-icon {
        filter: drop-shadow(3px 3px 2px $color-button-shadow);
      }
    }
  }

  &--fade {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 94%,
      #ffffff 99%
    );
    height: 100vh;
    position: absolute;
    top: 0.1em;
    width: 100%;
  }
}

// Desktop
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .app__title {
    max-width: 1200px;
  }

  .overlay {
    &__scroll:hover > .button__scroll {
      opacity: 1;
    }
  }
}
