@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

body {
  position: relative;
  scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 1em;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-position: outside;
  margin: 1em 1.5em;
}

a {
  text-decoration: none;

  &:link,
  &:active,
  &:visited,
  &:hover {
    color: inherit;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.linkedin {
  color: $color-linkedin;
}

.link--bold {
  font-weight: bold;
  text-decoration: underline;
}
