@import "./variables.scss";

.app__nav {
  margin: 0 0 2.5em 0;

  &-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
  }

  &-item {
    font-size: 1.25em;
    font-weight: bold;

    & > a {
      color: $color-primary;
      transition: color 250ms;

      &:after {
        border-bottom: solid 3px $color-highlight;
        content: "";
        display: block;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
    }

    & > a.active {
      color: $color-highlight;
      transition: color 250ms;

      &:after {
        transform: scaleX(1);
        transition: transform 250ms ease-in-out;
      }
    }
  }

  &-link-icon {
    margin: 0 1em 0 0;
  }
}
