@import "./variables.scss";

.page {
  background-color: $color-background;
  color: $color-primary;
  height: 100vh;
  overflow: hidden;
  padding: 10vh 2em;
  position: relative;
  width: 100%;

  // &__experience {
  //   height: 100vh;
  // }
}

@media only screen and (min-width: 1200px) {
  .page {
    padding: 10vh 0;
  }
}
