$screens: 2;
$screen-height: 100vh;

$hero-header-font-size: 7em;

$color-background: #ffffff;
$color-button-background: #808080;
$color-button-shadow: #999999;
$color-highlight: #ffad33;
$color-linkedin: #0077b5;
$color-primary: #808080;
